.footer {
  padding: 77px 0 81px;
  background-color: #1F1E1E;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 130%;
}
.footer__logo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 69px;
}